@media (min-width: 881px) {
  :global(.sd-desktop-nav) .steamNavTrigger {
    padding: 0 !important;
  }
}

@media (max-width: 640px) {
  :global(.sd-mobile-nav) .steamNavTrigger {
    font-size: clamp(10px, 2.9vw, 11px) !important;
    letter-spacing: 0;
    font-weight: 800;
    padding: 5px 3px !important;
    white-space: nowrap !important;
  }

  :global(.sd-mobile-nav) .steamNavTrigger span {
    inset-inline-start: 0 !important;
    top: -10px !important;
  }
}
